# ===== 第一模块（多模态）：LLM + 百度云 Face API =====
API_KEY="YOUR API KEY"
BASE_URL="LLM_PLATFROM_BASE_URL"
MODEL_NAME="MODAL_TYPE"
AUDIO_MODEL="FunAudioLLM/SenseVoiceSmall"
BAIDU_API_KEY=""
BAIDU_SECRET_KEY=""
VIDEO_MODEL="Qwen/Qwen3.5-122B-A10B"
TIMEOUT=120

# ===== 模块二/三（知识抽取与知识图谱）：硅基流动 + Neo4j =====
SILICONFLOW_API_KEY=your_siliconflow_api_key
SILICONFLOW_BASE_URL=https://api.siliconflow.cn/v1
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=your_neo4j_password
EXTRACTION_MODEL=知识抽取大模型
EXTRACTION_TEMPERATURE=大模型温度


# ===== 模块四（智能研判系统）：硅基流动 =====
#通用配置
JUDGMENT_API_KEY=你的模板
JUDGMENT_BASE_URL=https://api.siliconflow.cn/v1
RAG_TOP_K=2
LLM_MAX_TOKENS=1000


#ragengine
RAGENGING_MODEL=BAAI/bge-m3
EXAMPLE_JSON_PATH=外挂知识库的链接
JSON_PROCESSED=生成的数据放在哪里
RAG_COLLECTION=rag的集合名称
REAL_JSON_PATH_1=完整版诈骗案例数据集
REAL_JSON_PATH_2=完整版对话数据集
REAL_JSON_PROCESSED=完整版数据1存放

#LlmClient
LLMMODEL=Qwen/Qwen2.5-32B-Instruct

